.page,
.page__content,
.page--material,
.page--material__content {
	background-color: #f2f1f1 !important;
	background: #f2f1f1 !important;
}
.toolbar {
	background: bottom no-repeat #52626c;
}

.toolbar-button,
.back-button,
.back-button__label {
	color: #fff;
	font-size: 1.3rem;
}

.back-button__icon {
	fill: #fff;
}

.list-item {
	background-color: #e7e4e4;
	font-size: 1.3rem;
}

img {
	max-width: 100%;
}
